body {
  background-color: #f2f2f2; /* Warna latar belakang abu-abu ke putihan */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff; /* Warna latar belakang kontainer putih */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 20px;
}

form input[type="email"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  display: center;
  margin-top: 10px;
}

.back-to-login {
  display: block;
  margin-top: 20px;
  text-decoration: none;
}

.back-to-login:hover {
  text-decoration: underline;
}
