body {
  background-color: #083b33;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #e0f3f1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  color: #0d5642;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  color: #0d5642;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #0d5642;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0b4a3d;
}
.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.forgot-password-container {
  margin-top: 20px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
}
